@import "tailwindcss";

.xbutton {
  @apply absolute; 
  @apply top-2;
  @apply right-2;
  @apply text-gray-600;
  @apply hover:text-red-600;
  @apply opacity-0;
  @apply group-hover:opacity-100;
  @apply transition-opacity;
  @apply z-10;
  @apply text-2xl;
  @apply font-bold;
  @apply bg-transparent;
  @apply p-0;
  @apply m-0;
  @apply border-none;
  @apply outline-none;
  @apply cursor-pointer;
}

.collection-card-content-wrapper {
  @apply grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  gap: 0.25rem 0.5rem;
}

/* .collection-card-data h2 {
  @apply m-0;
  @apply p-0;
  line-height: 1.2;
  grid-column: 1;
  grid-row: 1;
} */

/* .collection-card-data p {
  @apply m-0;
  @apply p-0;
  grid-column: 1;
  grid-row: 2;
} */

.collection-card-date {
  @apply text-sm;
  @apply opacity-80;
  @apply m-0;
  @apply p-0;
  color: hsl(40, 62%, 26%);
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
}

.collection-card-image {
  width: 100%;
  height: 66%; /* 66% of card height for image placeholder */
  background-color: hsl(0, 0%, 25%);
  display: block;
  @apply text-center;
  align-content: center;
}

.collection-card-image svg {
  justify-self: center;
}

.collection-card-title {
  color: hsl(40,62%,26%) !important;
  font-size: 24px !important;
  width: 100% !important;
  grid-column: 1;
  grid-row: 1;
}

.collection-card-description {
  color: hsl(40,63%,42%) !important;
  font-size: 16px !important;
  grid-column: 1;
  grid-row: 2;
}