@import "tailwindcss";

.CustomCollectionsPage-header {
  @apply fixed;
  @apply top-0;
  @apply left-0;
  @apply right-0;
  @apply w-full;
  @apply bg-[#6B7469];
  @apply flex;
  @apply items-center;
  @apply py-4;
  @apply z-[1000];
  @apply shadow-[0_2px_4px_rgba(0,0,0,0.5)];
  @apply border-b-2;
  @apply border-[#4F564B]
}

.CustomCollectionsPage-h1 {
  @apply text-[#C8D5C1];
  @apply bg-[#6B7469]; 
  @apply text-4xl; 
  @apply m-0; 
  @apply flex-1; 
  @apply text-center; 
  @apply tracking-wide;
}

@media (max-width: 768px) {
  .CustomCollectionsPage-h1 {
    @apply text-2xl;
  }
}

@media (max-width: 480px) {
  .CustomCollectionsPage-h1 {
    @apply text-xl;
  }
}