@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");
@import "tailwindcss";

.pagination-button {
  @apply px-4;
  @apply py-2;
  @apply bg-[#66BB6A];
  @apply text-[#1F2220];
  @apply rounded;
  @apply disabled:opacity-50;
  font-family: 'Newsreader', serif;
}

.pagination-button:hover {
  background: #8FDA7C;
  cursor: pointer;
}

.pagination-button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.pagination-button:disabled:hover {
  background: #66BB6A;
}