@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");
@import "tailwindcss";

.pagination-button {
  @apply px-4;
  @apply py-2;
  @apply bg-[#E8CB92];
  @apply text-[#533E13];
  @apply rounded;
  @apply hover:bg-[#7E8D5E];
  @apply disabled:opacity-50;
  font-family: 'Newsreader', serif;
}