@reference "tailwindcss";

.stock-table-wrapper {
  @apply min-h-[700px] bg-[#6B7469];
  @apply shadow-[5px_5px_5px_rgba(0,0,0,0.5)];
  @apply bg-[#6B7469];
  @apply rounded-sm;
}

.stock-table {
  @apply w-full text-left border-separate border-spacing-0;
}

.stock-table-header-row {
  @apply bg-[#4F564B] text-[#8FDA7C] max-h-[10px];
}

.stock-table-header-cell {
  @apply px-4 py-2;
}

.stock-table-row {
  @apply bg-[#5D6A5B] text-[#A8B5A1] cursor-pointer;
}

.stock-table-cell {
  @apply px-4 py-2;
}

.stock-table-input {
  @apply bg-white border rounded w-12 h-6 text-center;
}

.stock-table-input-date {
  @apply bg-white border rounded w-16 h-6 text-center;
}

.stock-table-expand-btn {
  @apply px-4 py-2 text-center;
}

.stock-table-collapsible-row {
  @apply p-0;
}

.stock-table-collapsible-content {
  @apply bg-[#4F564B] text-[#8FDA7C] p-8 transition-all duration-300;
}