@reference "tailwindcss";

.screener-topbar-inner {
  @apply flex items-center justify-between;
}

.screener-topbar-group {
  @apply grid;
  grid-template-columns: 800px 400px;
}

.screener-topbar-btn {
  @apply bg-[#66BB6A]; 
  @apply text-[#1F2220];
  @apply shadow-none;
  @apply px-4;
  @apply py-2;
  @apply rounded;
  @apply m-1;
}

.screener-topbar-select {
  @apply bg-[#66BB6A];
  @apply text-[#1F2220];
  @apply min-w-[180px];
  @apply px-4;
  @apply py-2;
  @apply rounded;
  @apply appearance-none;
}
.screener-page-toggle {
  @apply col-2;
  @apply min-w-[200px];
  @apply justify-self-start text-left;
}

.non-toggle-buttons {
  @apply col-1;
}