@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");
@import "tailwindcss";

.SearchResults-main-content {
  background: hsl(40 63% 63%);
  border-radius: 6px;
  box-shadow: 5px 5px 5px #3F3A30;
  color: hsl(40 62% 20%);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(700px, calc(100% - 80px));
  max-height: calc(100vh - var(--header-height) - 80px);
  padding: 18px;
  box-sizing: border-box;
  -webkit-overflow-scrolling: none;
}
