@import "tailwindcss";

.search-bar {
  @apply p-2;
  @apply rounded-[6px];
  @apply text-[#C8D5C1];
  @apply bg-[#5D6A5B];
  @apply w-full;
  @apply max-w-[400px];
  @apply border-[#4F564B];
  @apply focus:outline-none;
  @apply focus:ring-2;
  @apply focus:ring-[#66BB6A];
  @apply focus:outline-none;
  @apply focus:ring-2;
  @apply focus:ring-[#66BB6A];
}

@media (max-width: 1024px) {
  .search-bar {
    @apply max-w-[300px];
  }
}

@media (max-width: 768px) {
  .search-bar {
    @apply max-w-full;
    font-size: 0.9rem;
  }
}