@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");
@import "tailwindcss";

.SearchResults-main-content {
  background: hsl(40 63% 63%);
  border-radius: 6px;
  box-shadow: 5px 5px 5px #3F3A30;
  color: hsl(40 62% 20%);
  position: relative;
  width: min(700px, calc(100% - 80px));
  margin: 4px auto 40px;
  padding: 18px;
  min-height: max(560px, calc(100vh - var(--header-height) - 80px));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
