name: Pipeline

on:
  push:
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install linter
        run: python -m pip install flake8

      - name: Run flake8
        run: flake8 . --max-line-length=100 --
          exclude=migrations,/migrations/,**/migrations/*,pycache,build,dist,node_modules
  
  react-lint:
    name: React Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18' # or 20

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install client dependencies
        working-directory: Incrementum.client
        run: pnpm install --frozen-lockfile

      - name: Run ESLint
        working-directory: Incrementum.client
        run: pnpm run lint

  python-test:
    name: python-tests
    needs: lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Python test image
        run: docker build -f Incrementum.api/test.Dockerfile -t incrementum-api-test ./Incrementum.api

      - name: Run Python tests
        run: docker run --rm incrementum-api-test

  react-test:
    name: react-tests
    needs: react-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build React test image
        run: docker build -f Incrementum.client/Dockerfile.test -t incrementum-client-test ./Incrementum.client

      - name: Run React tests
        run: docker run --rm -e CI=true incrementum-client-test
